:root {
  --ev-c-white: #ffffff;
  --ev-c-white-soft: #F3EFE7;
  --ev-c-white-mute: #ede8de;

  --ev-c-black: #1b1b1f;
  --ev-c-black-soft: #222222;
  --ev-c-black-mute: #282828;

  @media screen and (prefers-color-scheme: dark) {
    --ev-c-background: var(--ev-c-black);
    --ev-c-background-mute: var(--ev-c-black-mute);
    --ev-c-background-soft: var(--ev-c-black-soft);
    --ev-c-text-1: var(--ev-c-white);
    --ev-c-text-2: var(--ev-c-white-mute);
    --ev-c-text-subtext: rgba(255, 255, 255, 0.65);
    --ev-c-button-alt: var(--ev-c-black-soft);
    --ev-c-button-alt-hover: var(--ev-c-black-mute);
  }
  
  @media screen and (prefers-color-scheme: light) {
    --ev-c-background: var(--ev-c-white);
    --ev-c-background-mute: var(--ev-c-white-mute);
    --ev-c-background-soft: var(--ev-c-white-soft);
    --ev-c-text-1: var(--ev-c-black);
    --ev-c-text-2: var(--ev-c-black-mute);
    --ev-c-text-subtext: rgba(0, 0, 0, 0.65);
    --ev-c-button-alt: var(--ev-c-white-soft);
    --ev-c-button-alt-hover: var(--ev-c-white-mute);
  }

  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --color-background: var(--ev-c-background);
  color: var(--ev-c-text-1);
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  line-height: 1.6;
}
