@import './base.css';

*{
  transition: background-color 0.3s ease 0s;
}

.selected {
  background-color: var(--ev-c-background-mute);
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  overflow-x: hidden;
  user-select: none;
  margin: 0;
}

#root {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

::-webkit-scrollbar{
  height: 10px;
  width: 10px;
  cursor: pointer;
}
::-webkit-scrollbar-thumb:horizontal{
  background: var(--ev-c-background-soft);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:horizontal:hover{
  background: var(--ev-c-background-mute);
}

button {
  background-color: var(--ev-c-button-alt);
  border: none;
  cursor: pointer;
  padding: 1em 2em;
  border-radius: 5px;
  color-scheme: light dark;
  color: var(--ev-c-text-1);
  transition: background-color 0.3s ease 0s;
}

button:hover {
  background-color:  var(--ev-c-button-alt-hover);
}

code {
  font-weight: 600;
  padding: 3px 5px;
  border-radius: 2px;
  background-color: var(--color-background-mute);
  font-family:
    ui-monospace,
    SFMono-Regular,
    SF Mono,
    Menlo,
    Consolas,
    Liberation Mono,
    monospace;
  font-size: 85%;
}

.text {
  font-size: 28px;
  color: var(--ev-c-text-1);
  font-weight: 700;
  line-height: 32px;
  text-align: center;
  margin: 0 10px;
  padding: 16px 0;
}

@media (max-width: 720px) {
  .text {
    font-size: 20px;
  }
}

@media (max-width: 620px) {
  .versions {
    display: none;
  }
}

@media (max-width: 350px) {
  .tip,
  .actions {
    display: none;
  }
}

input {
  background-color: var(--ev-c-background-mute);
  border: none;
  padding: 0em 1em;
  border-radius: 5px;
  color: var(--ev-c-text-1);
  transition: background-color 0.3s ease 0s;
  height: 37px;
}

.Main_nav_item{
  font-size: 20px;
  padding: 20px;
  margin-top: 20px;
  padding-top: 0px;
  padding-bottom: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease 0s;
}
.Main_nav_item p {
  margin: 0;
  color: var(--ev-c-text-subtext);
  font-size: 10px;
}
.Main_nav_item:hover{
  color: var(--ev-c-text-2);
  background-color: var(--ev-c-button-alt);
}

.file_path {
  display: flex;
  place-content: center start;
  place-items: center;
  gap: 10pxem;
  padding-left: 60px;
  height: 50px;
  overflow-x: auto;
  overflow-y: hidden;
}
.file_path svg {
  min-width: 27px;
  min-height: 27px;
  margin-left: 5px;
}
.file_path div {
  cursor: pointer;
  display: flex;
  place-items: center start;
  height: 50%;
  text-underline-offset: 0.2em;
  font-size: larger;
}
.file_path div>svg {
  width: 30px;
  height: 30px;
  margin-right: 5px;
}
.file_path div:hover{
  text-decoration: underline;
}

.dir_folders {
  display: flex;
  width: 100%;
  place-items: center;
  padding-left: 50px;
}
.dir_folders button {
  margin: 0 10px;
  padding-left: 10px;
  display: flex;
  width: 200px;
  height: 50px;
  place-items: center;
}
.dir_folders button p{
  font-size: 17px;
  margin: 0;
}
.dir_folders button svg{
  width: 27px;
  height: 27px;
  margin-right: 10px;
}

.FileElement {
  display: flex;
  place-items: center;
  width: calc(100vw - 100px);
  height: 50px;
  min-height: 50px;
  overflow-x: auto;
  overflow-y: hidden;
  margin-left: 40px;
  margin-right: auto;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1.5px solid var(--ev-c-text-1);
  cursor: pointer;
}
.FileElement:hover{
  background-color: var(--ev-c-background-mute);
}
.FileElement p{
  padding: 0;
  margin: 0;
}
.FileElement p:nth-child(2){
  font-size: 13px;
}
.FileElement svg {
  min-width: 27px;
  min-height: 27px;
  padding-right: 20px;
}

.dir_folders {
  margin-top: 30px;
  margin-bottom: 30px;
}

.SelectedActions{
  background-color: var(--ev-c-button-alt);
  border-radius: 5px;
  justify-content: end;
  margin-right: 40px;
}

.SelectedActions button{
  font-size: 15px;
}

.PathActions{
  display: flex;
  width: 100%;
  margin-top: 75px;
  align-items: center;
  justify-content: space-between;
}

.noneSelected{
  background-color: transparent;
}
.noneSelected button{
  margin-left: 5px;
}

.headerBtnContainer::-webkit-scrollbar{
  display: none;
}
.headerBtnContainer{
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  place-items: center center;
  padding: 0;
  max-height: 37px;
}