.splashscreenControls > div {
  display: block;
}

.splashscreenControls {
  display: flex;
  flex-direction: column;
  place-items: center center;
}

img {
  position: relative;
  width: 50vw;
  max-width: calc(100vh / 2);
  margin-top: 10px;
  margin-bottom: 10px;
  max-height: 200vh;
  object-fit: cover;
}

.splashscreenPreviewContols {
  position: relative;
}

.splashscreenPreviewContols div {
  position: absolute;
  bottom: 40px;
}

.splashscreenPreviewContols div button {
  margin-left: 20px;
  margin-top: 10px;
}

.notFound{
  height: 100%;
  font-size: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
}
